<form action="/log_in" method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <p><a href="/reset_password">forgot your password?</a></p>
    <p><a href="/sign_up">Sign Up</a></p>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
