{
  "development": {
    "host": "",
    "port": "",
    "username": "",
    "password": ""
  },
  "test": {
    "host": "",
    "port": "",
    "username": "",
    "password": ""
  },
  "production": {
    "host": "",
    "port": "",
    "username": "",
    "password": ""
  }
}
